body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.widget-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 200px;
  background-color: rgba($color: #000000, $alpha: 0.2);
  border-radius: 50%;

  .basic-info {
    width: 200px;
    height: 93px;

    p {
      margin: 0 0;
      text-align: center;
    }
  }
}

.clickableTemperature {
  cursor: pointer;
  user-select: none;
}

.refresh {
  position: relative;
  top: 15px;
  left: 78%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.more-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  background-color: rgba($color: #000000, $alpha: 0.2);
  border-radius: 0 0 13rem 13rem;
}

.weather-icon {
  position: absolute;
  bottom: 170px;
  width: 60px;
  height: 60px;
}

.underscore {
  text-align: center;
  margin-bottom: 1rem;
  border-bottom: #dee2e6 solid 1px;
}

.more-info-card {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  backdrop-filter: blur(2.5px);
}
